table,
th,
tr,
td {
    border-collapse: collapse;
    border: solid 1px;
    width: 450px;
    padding: 3px;
}

@media (max-width: 640px) {
    .landing-images {
        width: 250px;
        height: 90px;
    }
}

#img-adec:hover {
    border: solid 3px black;
    border-radius: 8px;
}

#img-cdti:hover {
    border: solid 3px black;
    border-radius: 8px;
}

.btAbrirModal {
    margin-top: 50px;
    padding: 8px;
    width: 400px;
    border-radius: 8px;
    font-weight: 700;
    letter-spacing: 0.07em;
    background-color: rgb(158, 173, 161);
}

@media (max-width: 600px) {
    .btAbrirModal {
        width: 250px;
    }
}

.btAbrirModal:hover {
    background-color: rgb(24, 214, 62);
    transition: ease-in 0.3s;
}

.btCerrarModal {
    border-radius: 6px;
    font-weight: bold;
    letter-spacing: 0.07em;
    background-color: rgb(158, 173, 161);
    margin-top: 10px;
    padding: 6px;
}

.btCerrarModal:hover {
    background-color: rgb(249, 96, 111);
    transition: ease-in 0.3s;
}

h1 {
    letter-spacing: 0.1em;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 25px;
    text-transform: uppercase;
    color: black;
}

h2 {
    letter-spacing: 0.1em;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 25px;
    text-transform: uppercase;
    color: black;
}

h3 {
    letter-spacing: 0.05em;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 15px;
    color: black
}

h4 {
    letter-spacing: 0.05em;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 15px;
    color: black;
}

h5 {
    letter-spacing: 0.05em;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 15px;
    color: black;
}

.bg-dark-green {
    background-color: darkgreen;
    opacity: 0.9;
}

.white-letter {
    color: white;
    font-weight: bold;
}

.white-letter:hover {
    color: rgba(255, 255, 255, 0.5);
}

.bt-registrar {
    margin-top: 20px;
    background-color: rgb(177, 209, 145);
    color: rgba(0, 0, 0, 0.9);
    font-weight: bold;
}

.div-result {
    display: grid;
    grid-template-columns: 40% 40%;
    grid-row: auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.individual-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

#general-result-consultar {
    margin-top: 50px;
}

.presentation-div {
    margin-top: 50px;
    width: 900px;
}

.main-p {
    font-size: 20px;
}